<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletSessionTester</servlet-name>
        <servlet-class>com.example.web.SessionCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSessionTester</servlet-name>
        <url-pattern>/sessioncheck.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletUserChoice</servlet-name>
        <servlet-class>com.example.web.UserChoiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUserChoice</servlet-name>
        <url-pattern>/user.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletColor</servlet-name>
        <servlet-class>com.example.web.UserColorSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletColor</servlet-name>
        <url-pattern>/usercolor.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletDestroy</servlet-name>
        <servlet-class>com.example.web.SessionDestroyedServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletDestroy</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    
    </web-app>
